flake8>=3.7.9, <5.0
ipython>=7.31.1, <8.0; python_version < '3.8'
ipython~=8.10; python_version >= '3.8'
isort~=5.0
jupyter~=1.0
jupyterlab_server>=2.11.1, <2.16.0
jupyterlab~=3.0, <3.6.0
scikit-learn~=1.0
matplotlib==3.6.2
seaborn==0.11.2
pandas==1.5.2
numpy==1.24.2
streamlit~=1.17.0
altair==4